.container-fluid.Home {
  background-color: white;
}

.carousel-item.Home {
  width: 600px;
}

.row.Home.h1row {
  min-height: 200px;
  background-image: url("fruit-salad.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

img.Home {
  width: 200px;
  height: 200px;
}

.Home.welcome {
  background-color: rgba(255, 166, 0, 0.254);
}

