.container-fluid.Login {
  background-image: url("doodle2.png");
  background-size: 500px;
  background-repeat: repeat;
  background-color: rgba(255, 166, 0, 0.254);
  height:95vh;
}

.card.Login {
  background: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  backdrop-filter: blur(5px); /* Optional: Adds a glass effect */
  border-radius: 10px; /* Smooth edges */
  padding: 20px;
}
